:root{
    --ash:#818181
}


nav.navbar {
    background-color: black; 
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000; 
    /* Setting background color to black */
}
.navbar input{
    background-color: rgba(255, 255, 255, 0.3);
    border: black;
    /* background-color: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(208, 208, 208, 0.1)); FFFFFF with 30% opacity and D0D0D0 with 10% opacity; */
    /* height: 100vh; */
}
.navbar input::placeholder{
    color: #FFFFFF;
}
.logo{
    margin-left: 50px;
}
.oval-input {
    border-radius: 20px; /* Adjust border-radius to make it oval */
    padding: 8px; /* Add padding to give space inside the input box */
    width: 200px; /* Set width as needed */
    border: 1px solid black; /* Example border */
    margin-left: 20px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.nav-text-container{
    background-image: linear-gradient(90deg, #FFA31A,#FE02C1); /* FFFFFF with 30% opacity and D0D0D0 with 10% opacity */
    position: fixed;
    top: 50px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000; 
}

 ul li a.nav-link{
  color : white;
}

/* middle part  */

/* Merchant Dashboard */
#head-text-one{
    font-family: Helvetica;
    margin-top: 120px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    line-height: 38.4px;
}

.nowrap{
    white-space: nowrap ;
}

  
  /* Create a two-column layout */

  .table-one {
    float: left;
    width: 30%;
    padding: 5px;
    text-align: center;

  }
  .column {
    float: left;
    width: 50%;
    padding: 5px;

  }

  .column-right {
    float: left;
    width: 60%;
    /* padding: 5px; */

  }
 
  table,th {
    border: 1px solid black;
    text-align: center;

  }

  td{
    border-right: 1px solid black;
    border-bottom: 0px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Clearfix (clear floats) */
  .test::after {
    content: "";
    clear: both;
    display: table;
  }

.black-table{
    background-color: black;
    
}
/* #black-table-text-top{
    color: white;
    font-weight: 700;
    line-height: 19.2px;
    margin-top: 50px;
} */
#black-table-text{
    color: white;
    font-weight: 700;
    line-height: 19.2px;
    margin-top: 49px;
}

#black-table-text-bottom{
    color: white;
    font-weight: 700;
    line-height: 19.2px;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    background-color: black;
    margin-top: 20px;
    height: 60vh;

}

footer .row{
    padding: 20px;
}

#footer-logo{
    margin-top:20px ;
    height: 10%;
    width: 10%;
    margin-left: 25px;
}

#footer-col-one{
    /* display: flex; */
    /* align-items: center; */
    color: white;
    font-family: Helvetica;
    font-weight: bold;
}

#footer-col-one img {      
        margin-right: 5px; /* Adjust the spacing between the icon and text */
        margin-left: 5px;
}

#footer-content{
    color: var(--ash);
    margin-left: 30px;
    display: block;
    font-family: Helvetica;
    margin-top: 0%;
    font-size: smaller;
}

#footer-col-two  {      
    color: white;
    font-family: Helvetica;
    font-weight: bold;
}
#footer-col-two #footer-header{
    margin-left: 30px;
}

#footer-righ-most{
    color: white;
    font-family: Helvetica;
    margin-left: 1000px;
}

#footer-righ-most-text{
    color: white;
    font-family: Helvetica;
    margin-left: 1090px;
}

footer .right-most-content   #qr-code{
    margin-left: 210px;
    margin-right: 10px;
}

footer .right-most-content  #app-store{
    margin-left: 200px;
    margin-top: 20px;
}   

footer .right-most-content #play-store{
    margin-top: 20px;
}

footer #icon-fb{
    margin-left: 240px;
    margin-top: 20px;
}

footer #icon-other{
    margin-left: 10px;
    margin-top: 20px;
}
body
{   
    padding-bottom:0;   
}
#table-right {
    /* box-sizing: border-box; */
  }

select #status{
    width: 200px;
}
