<?php

echo '
<img id="footer-logo" src="../image/Logo.svg" alt="">
        <span id="footer-righ-most-text">Scan to download our app</span>
        <div class="row">
            <div class="col-md-2">
                    <div id="footer-col-one">
                        <img src="../image/map.svg" alt=""> 
                        <span id="footer-header"> Corporate Office </span>
                        <span id="footer-content">House 10, Road 10, Block A, Level 10 Banani C/A, Dhaka 1213 Bangladesh</span>
                    </div>

                    <div id="footer-col-one">
                        <img src="../image/Vector.svg" alt=""> 
                        <span id="footer-header">Corporate Office</span>
                        <span id="footer-content">+8809 000 111 888</span>
                    </div>

                    <div id="footer-col-one">
                        <img src="../image/Group.svg" alt=""> 
                        <span id="footer-header">Email</span>
                        <span id="footer-content">hello@basicbanklimited.com</span>
                    </div>
                
            </div>
            <div class="col-md-2">
                <div id="footer-col-two"> 
                    <span id="footer-header">ABOUT</span>
                    <span id="footer-content">About us</span>
                    <span id="footer-content">Careers</span>
                    <span id="footer-content">Awards & Recognition</span>
                    <span id="footer-content">Investors</span>
                    <span id="footer-content">Bata Industrials</span>
                    <span id="footer-content">Share Department</span>
                </div>
            </div>
            <div class="col-md-2">
                <div id="footer-col-two"> 
                    <span id="footer-header">INFORMATION</span>
                    <span id="footer-content">Terms & Conditions</span>
                    <span id="footer-content">Payment Options</span>
                    <span id="footer-content">Privacy Policy</span>
                    <span id="footer-content">Franchise Programme</span>
                    <span id="footer-content">Coverage Areas</span>
                </div>
            </div>
            <div class="col-md-3">
                <div id="footer-col-two"> 
                    <span id="footer-header">Customer Service</span>
                    <span id="footer-content">FAQs</span>
                    <span id="footer-content">Account</span>
                    <span id="footer-content">Bata Stores</span>
                    <span id="footer-content">All About Feet</span>
                    <span id="footer-content">Contact Info</span>
                    <span id="footer-content">Report Issue</span>
                </div>
            </div>
            <div class="col-md-3 right-most-content">
                <img id = "qr-code" src="../image/qr.svg" alt="QR Code" >
                <img id = "app-store" src="../image/App Store.png" alt="" >
                <img id="play-store" src="../image/Playstore.svg" alt="" >

                <img id = "icon-fb" src="../image/logos_facebook.svg" alt="" >
                <img id="icon-other" src="../image/skill-icons_linkedin.svg" alt="" >
                <img id="icon-other" src="../image/skill-icons_twitter.svg" alt="" >
            </div>
        </div>
        

'
;?>